.container {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Tabs Start */

.tabs {
	width: 60%;
	margin: 10% auto 4% auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: transparent;
	text-align: center;
	padding: 1.25rem 0;
	overflow: hidden;
	background-color: transparent;
}

.tabcontent h3{
	text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
	background-color: white;
	width: 100%;
	border: 0;
	font-size: 1.25rem;
	font-weight: 600;
	float: left;
	border-bottom: 3px solid rgb(176, 176, 176);
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
	border-bottom: 3px solid rgb(210, 0, 0);
}

.tabcontent {
	animation: fadeEffect 1s;
}

/* Tabs End */

.pricing-tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-bottom: -6%;
}

.pricing-tabs label {
	font-weight: 500;
	font-size: 1rem;
}

.pricing-tabs i {
	padding: .4rem .7rem;
	font-size: .5rem;
	border: 0;
	font-weight: 500;
	border-radius: 100px;
	background-color: #efe300;
}

.pricing-tabs label span {
	background-color: rgb(210, 0, 0);
}

/* Switch */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #efe300;
}

input:focus+.slider {
	box-shadow: 0 0 1px #efe300;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Swich end */


.pricing-table {
	padding: 2% 10%;
}

.monthlyTable,
.yearlyTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.card {
	padding: 0 3%;
	border: 2px solid lightgrey;
	border-radius: 1rem
}

.card-header {
	padding: 18px 0;
}

.card-header p {
	font-size: 1.6rem;
	font-weight: 600;
}

.card-header span {
	font-size: .7rem;
}

.pricing {
	padding: 1rem 0;
}

.price {
	font-size: 1.6rem;
	font-weight: 600;
}

.perMonth {
	font-size: .7rem;
}

.pricing button {
	background: transparent;
	border: 2px solid #333;
	padding: .65rem 1rem;
	margin-top: 1rem;
	font-size: .8rem;
	font-weight: 500;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
}

.pricing button:hover {
	background: #333;
	color: #fff;
	border: 2px solid #333;
	transition: 250ms ease-in-out;
}

.list {
	padding: 1rem 0;
}

.list span {
	font-size: .8rem;
	color: #6b6b6b;
	padding-left: 1rem;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* TABLET MODE */
@media screen and (max-width: 768px) {

	.monthlyTable,
	.yearlyTable {
		flex-direction: column;
		width: 100%;
		gap: 1rem;
	}

	.tabs {
		width: 60%;
	}

	.card {
		padding: 0 5%;
	}

	.pricing-table {
		padding: 3% 5%;
	}
}


/* MOBILE MODE */
@media screen and (max-width: 480px) {
	.container {
		padding: 0;
	}

	.card {
		padding: 0 5%;
	}

	.pricing-tabs {
		gap: .8rem;
	}

	.pricing-tabs label {
		font-size: .8rem;
	}


}